{% load static %}

<!-- Start css -->

<!-- jQuery UI css -->
<link href="{% static 'assets/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" type="text/css" />
<!-- jQuery Confirm css -->
<link href="{% static 'assets/plugins/jquery-confirm/css/jquery-confirm.css' %}" rel="stylesheet" type="text/css">

<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

 <!-- Select2 css -->
 <link href="{% static 'assets/plugins/select2/select2.min.css' %}" rel="stylesheet" type="text/css" />
 <link href="{% static 'assets/plugins/select2/select2-bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

<!-- main style css -->
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" />

<!-- Remix icon css -->
<link href="{% static 'assets/fonts/remixicon.css' %}" rel="stylesheet" type="text/css" />
{% comment %} 
<!-- Datepicker css -->
<link href="{% static 'assets/plugins/datepicker/datepicker.min.css' %}" rel="stylesheet" type="text/css" /> {% endcomment %}
{% comment %} <link href="{% static 'assets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css" /> {% endcomment %}
<link href="{% static 'assets/plugins/tempus-dominus/tempus-dominus.css' %}" rel="stylesheet" type="text/css" />


<!-- Datatable css -->
<link href="{% static 'assets/plugins/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />


<!-- Mystyle css -->
<link href="{% static 'css/mystyle.css' %}" rel="stylesheet" type="text/css" />


<!-- End css -->
