{% load static %}
<!-- End Containerbar -->
<!-- Start js -->
<script defer src="{% static 'assets/js/jquery.min.js' %}"></script>
<script defer src="{% static 'assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script defer src="{% static 'assets/js/popper.min.js' %}"></script>
<script defer src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script defer src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<!-- jQuery Confirm js -->
<script defer src="{% static 'assets/plugins/jquery-confirm/js/jquery-confirm.js' %}"></script>

<!-- Select2 js -->
{% comment %} <script defer src="{% static 'assets/plugins/select2/select2.full.min.js' %}"></script> {% endcomment %}
<script defer src="{% static 'assets/plugins/select2/select2.min.js' %}"></script>

<!-- Datepicker JS -->
{% comment %} <script defer src="{% static 'assets/plugins/datepicker/datepicker.min.js' %}"></script>
<script defer src="{% static 'assets/plugins/datepicker/i18n/datepicker.en.js' %}"></script> {% endcomment %}
{% comment %} <script defer src="{% static 'assets/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>  {% endcomment %}
<script defer src="{% static 'assets/plugins/tempus-dominus/tempus-dominus.js' %}"></script> 
<!-- Datatables JS -->
<script defer src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>

<!-- Myscript js -->
<script defer src="{% static 'js/myscript.js' %}"></script>

<!-- End js -->