{% extends "index.html" %}
{% load static %}
{% block title %} User List {% endblock title %} 

{% block content %}
<!-- Start container-fluid  -->
<div class="container-fluid pb-5 my-5">
    <!-- Start row -->
    <div class="row pt-4 d-flex justify-content-center">
        <h4>Retweet User List</h4>
      </div>
      <!-- End row -->
  
  <!-- Start row -->
  <div class="row pt-4 justify-content-center">
    {% for u in object_list %}
        <!-- Start col -->  
        <div class="col-12 p-lg-3 m-lg-2">
            <!-- Start row -->
            <div class="row p-2">
                <!-- Start col -->
                <div class="col-12 bg-white rounded shadow-sm">
                <!-- Start row -->
                <div class="row list-group-item d-flex">
                    <!-- Start col -->
                    <div class="col-1">
                        <img src="{{u.profile_image}}" class="img-fluid img-thumbnail" alt="{{u.screen_name}}" srcset="">
                        </div>
                        <!-- End col -->
                    <!-- Start col -->
                    <div class="col-11">
                    <!-- Start row -->
                    <div class="row ">

                        <div class="col font-weight-bold d-flex">User Details
                        <i data-toggle="tooltip" title="This detail is fetched from Database." class="ri-error-warning-line ri-xxs align-self-start"></i>
                        </div>
                    
                    </div>
                    <!-- End row -->
                    <!-- Start row -->
                    <div class="row list-group-item">
                        <div class="list-group-item p-1">User ID : {{u.user_id}}</div>
                        <div class="list-group-item p-1">Screen Name : {{u.screen_name}}</div>
                        <div class="list-group-item p-1">Location : {{u.location}}</div>
                        <div class="list-group-item p-1">Created At : {{u.created_at}}</div>
                        <div class="list-group-item p-1">Follower Count : {{u.followers_count}}</div>
                        <div class="list-group-item p-1">Lang : {{u.lang}}</div>
                        <div class="list-group-item p-1">Notifications : {{u.notifications}}</div>
                        <div class="list-group-item p-1">public_address : <a target="_blank" rel="noopener noreferrer" href="https://testnet.algoexplorer.io/address/{{u.public_address}}">{{u.public_address}}</a></div>
                    </div>
                    <!-- End row -->
  
                    </div>
                    <!-- End col -->
                </div>
            </div>
            <!-- End col -->
            
        </div>
        <!-- End row -->
    </div>
    <!-- End col -->
        {% endfor %}
    </div>
    <!-- End row -->



  
  </div>
  <!-- End container-fluid  -->

  {% endblock content %} {% block javascript %} {% endblock javascript %}
